@import '/src/scss/colors';

header.reg-page { 
    padding-top: 10vh;

    a {
        text-decoration: none;
    }
}

.confirmation-msg {
    margin-top: 2rem;
    color: $main-color;

    h1 {
        font-size: 2rem;
        font-weight: 600;

    }

    h2 {
        font-size: 1.5rem;
    }

    img {
        width: 25vh;
    }

    p {
        font-size: 1.2rem;
        margin-top: .2rem;
    }

    div {
        margin-bottom: 4rem;
    }

    a {
        border: none;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background-color: $aeropress-bg;
        color: $icon-color;
        font-weight: 500;
        text-decoration: none;

        transition: background-color .2s;
        &:hover {
            background-color: $drip-bg;
        }
    }
}

.reg-form {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;

    label {
        color: $main-color;
        margin-bottom: .3rem;
        font-size: 1.5rem;
    }

    input {
        color: $icon-color;
        width: 20rem;
        height: 1.7rem;
        font-size: 1.5rem;
        padding: .5rem 1rem;
        border: none;
        border-radius: 4rem;

        &:focus {
            outline-width: 0;
        }
    }

    input[type='submit'] {
        width: 10rem;
        height: 3rem;
        background-color: $aeropress-bg;
        cursor: pointer;
        transition: background-color .2s;
        margin-top: 3rem;
        &:hover {
            background-color: $drip-bg;
        }
    }

    p.alert {
        font-weight: 600;
        color: #bf1a1a;
        padding-top: .4rem;
        height: 2.2rem;
        width: 26rem;
    }
}

@media screen and (max-width: 400px) {
    .confirmation-msg {
        p {
            font-size: 1rem;
            padding: 0 2rem;
        }
    }
}